<!DOCTYPE html>
<html ng-app="app" ng-controller="GuideCtrl">
<head>
	<title>Preston</title>
	<link rel="stylesheet" href="/js/highlightjs.css">
	<link rel="stylesheet" ng-repeat="element in preston.elements" ng-href=":: element.getAssetPath('css', 'style.css') ::">
	<link rel="stylesheet" ng-repeat="element in style.elements" ng-href=":: element.getAssetPath('css', 'style.css') ::">
	<link rel="stylesheet" ng-repeat="element in style.elements" ng-if="element.assets['override.scss']" ng-href=":: element.getAssetPath('css', 'override.css') ::">
	<style>
	pre { white-space: pre-wrap; }
	</style>
</head>
<body>
	<div class="preston-guide-heading">
		<div class="preston-container">
			<h1 ng-bind="style.title + ' Style Guide'"></h1>
		</div>
	</div>
	<div class="preston-container">
		<div class="preston-element" ng-repeat="element in elements" ng-class="'preston-element-' + element.name">
			<div class="preston-element-examples">
				<div class="preston-element-title">
					<div class="preston-pill-container">
						<div class="preston-pill"
							ng-repeat="view in element.views track by $index"
							ng-bind="view.title"
							ng-class="{ 'preston-pill-selected': $index == element.selected }"
							ng-click="element.selected = (element.selected == $index ? -1 : $index)"
							ng-hide="view.title == 'Details'"></div>
					</div>
					<div ng-bind="element.name"></div>
				</div>
				<div ng-repeat="view in element.views | filter:view.title='Details'" ng-bind-html="view.contents"></div>
				<div ng-repeat="view in element.views track by $index" ng-hide="view.title == 'Details' || $index != element.selected" ng-bind-html="view.contents"></div>
			</div>
		</div>
	</div>
	<script src="/js/angular.js"></script>
	<script src="/js/angular-sanitize.js"></script>
	<script src="/js/highlight.js"></script>
	<script>
	var parentScope = window.parent.angular.element(window.frameElement).scope();
	angular
		.module('app', ['ngSanitize'])
		.config(function($interpolateProvider) {
			// stop conflicting with handlebars
			$interpolateProvider.startSymbol('::');
			$interpolateProvider.endSymbol('::');
		})
		.service('ElementViewService', function($sce) {
			var formatForDisplay = function(content) {
				return '<pre><code>' + content + '</code></pre>';
			};

			var ElementViewService = function(baseElement) {
				this.base = baseElement;
				this.name = this.base.name;
				this.views = this.createViews();
				this.selected = -1;
				return this;
			};
			ElementViewService.prototype = {
				addView: function(title, content) {
					this.views.push({
						title: title,
						contents: $sce.trustAsHtml(content)
					});
				},
				createViews: function() {
					this.views = [];
					var baseAssets = this.base.assets;
					for (var name in baseAssets) {
						var asset = baseAssets[name];
						var extenstion = name.split('.').pop();
						switch (extenstion) {
							case 'yml':
								var title = asset.title && '<h3>' + asset.title + '</h3>' || '';
								var details = title + '<p>' + asset.detail + '</p>';
								this.addView('Details', details);
								this.addView('HTML', formatForDisplay(asset.markup));
								break;
							case 'scss':
								this.addView('CSS', formatForDisplay(asset.compiled));
								this.addView('SASS', formatForDisplay(asset.source));
								break;
						}
					}
					return this.views;
				}
			};

			return ElementViewService;
		})
		.controller('GuideCtrl', function($scope, ElementViewService) {
			var Style = parentScope.Style;
			var $state = parentScope.$state;
			var currentStyle = $state.params.name;

			$scope.preston = new Style('preston', { shallow: true });
			$scope.style = new Style(currentStyle);

			parentScope.$on('style.load', function(e, style) {
				// don't map elements when preston styles loaded
				if (style.name !== 'preston') {
					$scope.elements = $scope.style.elements.map(function(element) {
						return new ElementViewService(element);
					});

					// TODO: make this a directive
					window.setTimeout(function() {
						hljs.configure({
							languages: ['html', 'css', 'scss']
						});
						[].forEach.call(document.querySelectorAll('code'), function(block) {
							hljs.highlightBlock(block);
						});
					}, 100);
				}
				// force scope update on load
				$scope.$digest();
			});
		});
	</script>
</body>
</html>
