<div ng-controller="StyleCtrl">
	<div ng-repeat="content in contents track by $index" ng-class="'preston-content-' + content.currentView">
		<div class="preston-content preston-offset-small">
			<div class="preston-nav-item preston-nav-large" ng-bind="content.name"></div>
			<div class="preston-content-views">
				<a
					ng-repeat="view in views"
					ng-click="content.currentView=view"
					ng-class="{ selected: view == content.currentView }"
					ng-bind="view"></a>
			</div>
		</div>
		<div class="preston-contents preston-view-markup" ng-bind-html="content.markup"></div>
		<code class="preston-contents preston-view-css css" ng-bind-html="content.css"></code>
		<code class="preston-contents preston-view-sass css" ng-bind-html="content.scss"></code>
	</div>
</div>