@import 'colours';
@import 'viewport';
@import 'aspect_ratio';

@mixin _button ***REMOVED***
  display: block;
  background: $white;
  border: $greyBorder 1px solid;
  padding: 9px;
  line-height: 1em;
  text-align: center;
***REMOVED***

@mixin arrow($direction: top, $colour: #000, $fill-colour: #fff, $width: 15px, $line-width: 1px) ***REMOVED***
    &:after,
    &:before ***REMOVED***
        margin-left: $width * 0.5;
        left: 50%;
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
***REMOVED***
    &:after ***REMOVED***
        border-bottom-color: $fill-colour;
        border-width: $width;
        margin-left: -$width;
***REMOVED***
    &:before ***REMOVED***
        border-bottom-color: $colour;
        border-width: $width + ($line-width * 2);
        margin-left: -($width + ($line-width * 2));
***REMOVED***
***REMOVED***

@mixin cross-browser($property, $values...) ***REMOVED***
    #***REMOVED***-webkit- + $property***REMOVED***: $values;
    #***REMOVED***-moz- + $property***REMOVED***: $values;
    #***REMOVED***-ms- + $property***REMOVED***: $values;
    #***REMOVED***-o- + $property***REMOVED***: $values;
    #***REMOVED***$property***REMOVED***: $values;
***REMOVED***

@mixin feature($baseClass) ***REMOVED***
    #***REMOVED***'body.app-f-' + $baseClass***REMOVED*** ***REMOVED***
        @content;
***REMOVED***
***REMOVED***

@mixin keyframes($name) ***REMOVED***
    @-webkit-keyframes #***REMOVED***$name***REMOVED*** ***REMOVED*** @content; ***REMOVED***
    @-moz-keyframes #***REMOVED***$name***REMOVED*** ***REMOVED*** @content; ***REMOVED***
    @-o-keyframes #***REMOVED***$name***REMOVED*** ***REMOVED*** @content; ***REMOVED***
    @keyframes #***REMOVED***$name***REMOVED*** ***REMOVED*** @content; ***REMOVED***
***REMOVED***

@mixin _transition($props...) ***REMOVED***
    @include cross-browser(transition, $props);
***REMOVED***

@mixin _square($width, $height: $width) ***REMOVED***
  width: $width;
  height: $height;
***REMOVED***

@mixin _user-select($value) ***REMOVED***
  $userSelectList: -webkit-touch-callout, -webkit-user-select, -khtml-user-select, -moz-user-select, -ms-user-select, user-select;
  @each $userSelect in $userSelectList ***REMOVED***
    #***REMOVED***$userSelect***REMOVED***: $value;
***REMOVED***
***REMOVED***

@mixin increased-tap-area($padding: 8px) ***REMOVED***
  $tap-size-area: -1 * $padding;
  position: relative;
  &:after ***REMOVED***
    content: '';
    position: absolute;
    top: $tap-size-area;
    bottom: $tap-size-area;
    left: $tap-size-area;
    right: $tap-size-area;
***REMOVED***
***REMOVED***
