@import '../typography/style';

body ***REMOVED***
	margin: 0;
	padding: 0;
***REMOVED***
.preston-container ***REMOVED***
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
	.preston-nav-item ***REMOVED***
		display: table;
		margin: 0 0 -20px;
		font-size: 48pt;
		padding: 0;
	***REMOVED***
***REMOVED***
.preston-frame ***REMOVED***
	border: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
***REMOVED***
.preston-heading ***REMOVED***
	@extend .preston-type;
	font-size: 24pt;
	margin: 200px 0 -20px;
***REMOVED***