***REMOVED******REMOVED***#detail***REMOVED******REMOVED***
	All call to actions should aim for copy to be displayed on a single line
***REMOVED******REMOVED***/detail***REMOVED******REMOVED***

***REMOVED******REMOVED***#section title="Primary buttons"***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Black, white and inactive variations"***REMOVED******REMOVED***
		<div>
			<a class="btn btn-primary" href="#" role="button">Anchor</a>
			<input class="btn-primary" type="submit" value="Input Submit" />
			<button class="btn-primary">Button</button>
		</div>
		<div>
			<a class="btn btn-primary btn-white" href="#" role="button">Anchor</a>
			<input class="btn-primary btn-white" type="submit" value="Input Submit" />
			<button class="btn-primary btn-white">Button</button>
		</div>
		<div>
			<a class="btn btn-primary btn-disabled" href="#" role="button">Anchor</a>
			<input class="btn-primary" type="submit" value="Input Submit" disabled />
			<button class="btn-primary" disabled>Button</button>
		</div>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
***REMOVED******REMOVED***/section***REMOVED******REMOVED***

***REMOVED******REMOVED***#section title="Default buttons"***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Active and inactive variations"***REMOVED******REMOVED***
		<div>
			<a class="btn" href="#" role="button">Anchor</a>
			<input type="submit" value="Input Submit" />
			<button>Button</button>
		</div>
		<div>
			<a class="btn btn-disabled" href="#" role="button">Anchor</a>
			<input type="submit" value="Input Submit" disabled />
			<button disabled>Button</button>
		</div>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
***REMOVED******REMOVED***/section***REMOVED******REMOVED***

***REMOVED******REMOVED***#section title="Small Variations"***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Primary, default and inactive buttons"***REMOVED******REMOVED***
	<div>
		<a class="btn btn-primary btn-small" href="#" role="button">Anchor</a>
		<input class="btn-primary btn-small" type="submit" value="Input Submit" />
		<button class="btn-primary btn-small">Button</button>
	</div>
		<div>
			<a class="btn btn-small" href="#" role="button">Anchor</a>
			<input class="btn-small" type="submit" value="Input Submit" />
			<button class="btn-small">Button</button>
		</div>
		<div>
			<a class="btn btn-small btn-disabled" href="#" role="button">Anchor</a>
			<input class="btn-small" type="submit" value="Input Submit" disabled />
			<button class="btn-small" disabled>Button</button>
		</div>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
***REMOVED******REMOVED***/section***REMOVED******REMOVED***

***REMOVED******REMOVED***#section title="Selectors"***REMOVED******REMOVED***
	<a class="btn btn-selector-single" href="#" role="button">Default state</a>
	<div class="grid-12 gutter-10">
		<div class="span-6">
			***REMOVED******REMOVED***#sub-section title="Single select option - Style 1"***REMOVED******REMOVED***
				***REMOVED******REMOVED***#detail***REMOVED******REMOVED***This style should be used where only one option can be selected, e.g. product size selection***REMOVED******REMOVED***/detail***REMOVED******REMOVED***
				<a class="btn btn-selector-single-1" href="#" role="button">Filter 1</a>
				<a class="btn btn-selector-single-1 btn-selector-active" href="#" role="button">Filter 2</a>
				<a class="btn btn-selector-single-1" href="#" role="button">Filter 3</a>
			***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
		</div>
		<div class="span-6">
			***REMOVED******REMOVED***#sub-section title="Single select option - Style 2"***REMOVED******REMOVED***
				***REMOVED******REMOVED***#detail***REMOVED******REMOVED***This style should be used where only one option can be selected, e.g. product size selection***REMOVED******REMOVED***/detail***REMOVED******REMOVED***
				<a class="btn btn-selector-single-2" href="#" role="button">Filter 1</a>
				<a class="btn btn-selector-single-2 btn-selector-active" href="#" role="button">Filter 2</a>
				<a class="btn btn-selector-single-2" href="#" role="button">Filter 3</a>
			***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
		</div>
	</div>
	***REMOVED******REMOVED***#sub-section title="Multi select option"***REMOVED******REMOVED***
		***REMOVED******REMOVED***#detail***REMOVED******REMOVED***This style should be used where multiple options can be selected, e.g. filters***REMOVED******REMOVED***/detail***REMOVED******REMOVED***
		<a class="btn btn-selector-multi btn-selector-active" href="#" role="button">Filter 1</a>
		<a class="btn btn-selector-multi btn-selector-active" href="#" role="button">Filter 2</a>
		<a class="btn btn-selector-multi" href="#" role="button">Filter 3</a>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
***REMOVED******REMOVED***/section***REMOVED******REMOVED***
