{{#detail}}
	All call to actions should aim for copy to be displayed on a single line
{{/detail}}

{{#section title="Default buttons"}}
	{{#sub-section title="Active variations"}}
		<a class="btn" href="#" role="button">Add to Wishlist</a>
		<input class="btn" type="submit" value="Add to Wishlist" />
		<button class="btn">Add to Wishlist</button>
	{{/sub-section}}
	{{#sub-section title="Inactive variations"}}
		<a class="btn btn-disabled" href="#" role="button">Add to Wishlist</a>
		<input type="submit" value="Add to Wishlist" disabled />
		<button disabled>Add to Wishlist</button>
	{{/sub-section}}
	{{#sub-section title="Small variations"}}
		<a class="btn btn-small" href="#" role="button">Add to Wishlist</a>
		<input class="btn btn-small" type="submit" value="Add to Wishlist" />
		<button class="btn btn-small">Add to Wishlist</button>
	{{/sub-section}}
{{/section}}

{{#section title="Primary buttons"}}
	{{#sub-section title="Black active variations"}}
		<a class="btn btn-primary" href="#" role="button">Proceed to checkout</a>
		<input class="btn-primary" type="submit" value="Proceed to checkout" />
		<button class="btn-primary">Proceed to checkout</button>
	{{/sub-section}}
	{{#sub-section title="Black inactive variations"}}
		<a class="btn btn-primary btn-disabled" href="#" role="button">Proceed to checkout</a>
		<input class="btn-primary" type="submit" value="Proceed to checkout" disabled />
		<button class="btn-primary" disabled>Proceed to checkout</button>
	{{/sub-section}}
	{{#sub-section title="White active variations"}}
		<a class="btn btn-primary btn-white" href="#" role="button">Proceed to checkout</a>
		<input class="btn-primary btn-white" type="submit" value="Proceed to checkout" />
		<button class="btn-primary btn-white">Proceed to checkout</button>
	{{/sub-section}}
	{{#sub-section title="White inactive variations"}}
		<a class="btn btn-primary btn-white btn-disabled" href="#" role="button">Proceed to checkout</a>
		<input class="btn-primary btn-white" type="submit" value="Proceed to checkout" disabled />
		<button class="btn-primary btn-white" disabled>Proceed to checkout</button>
	{{/sub-section}}
	{{#sub-section title="Small active variations"}}
		<a class="btn btn-primary btn-small" href="#" role="button">Proceed</a>
		<input class="btn-primary btn-small" type="submit" value="Proceed" />
		<button class="btn-primary btn-small">Proceed</button>
	{{/sub-section}}
{{/section}}

{{#section title="Selectors"}}
	<a class="btn btn-selector-single" href="#" role="button">Default state</a>
	<div class="grid-12 gutter-10">
		<div class="span-6">
			{{#sub-section title="Single select option - Style 1"}}
				{{#detail}}This style should be used where only one option can be selected, e.g. product size selection{{/detail}}
				<a class="btn btn-selector-single-1" href="#" role="button">Filter 1</a>
				<a class="btn btn-selector-single-1 btn-selector-active" href="#" role="button">Filter 2</a>
				<a class="btn btn-selector-single-1" href="#" role="button">Filter 3</a>
			{{/sub-section}}
		</div>
		<div class="span-6">
			{{#sub-section title="Single select option - Style 2"}}
				{{#detail}}This style should be used where only one option can be selected, e.g. product size selection{{/detail}}
				<a class="btn btn-selector-single-2" href="#" role="button">Filter 1</a>
				<a class="btn btn-selector-single-2 btn-selector-active" href="#" role="button">Filter 2</a>
				<a class="btn btn-selector-single-2" href="#" role="button">Filter 3</a>
			{{/sub-section}}
		</div>
	</div>
	{{#sub-section title="Multi select option"}}
		{{#detail}}This style should be used where multiple options can be selected, e.g. filters{{/detail}}
		<a class="btn btn-selector-multi btn-selector-active" href="#" role="button">Filter 1</a>
		<a class="btn btn-selector-multi btn-selector-active" href="#" role="button">Filter 2</a>
		<a class="btn btn-selector-multi" href="#" role="button">Filter 3</a>
	{{/sub-section}}
{{/section}}
