<div>// SECTION: Default buttons</div>
***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<div>
	<a class="btn" href="#" role="button">Add to Wishlist</a>
	<input class="btn" type="submit" value="Add to Wishlist" />
	<button class="btn" disabled>Add to Wishlist</button>
</div>
<div>
	<a class="btn btn-disabled" href="#" role="button">Add to Wishlist</a>
	<input type="submit" value="Add to Wishlist" disabled />
	<button disabled>Add to Wishlist</button>
</div>
***REMOVED******REMOVED***/markup***REMOVED******REMOVED***

<div>// SECTION: Primary buttons</div>
<div>// SUB-SECTION: Black variations (active/inactive)</div>
***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<div>
	<a class="btn btn-primary" href="#" role="button">Proceed to checkout</a>
	<input class="btn-primary" type="submit" value="Proceed to checkout" />
	<button class="btn-primary">Proceed to checkout</button>
</div>
<div>
	<a class="btn btn-primary btn-disabled" href="#" role="button">Proceed to checkout</a>
	<input class="btn-primary" type="submit" value="Proceed to checkout" disabled />
	<button class="btn-primary" disabled>Proceed to checkout</button>
</div>
***REMOVED******REMOVED***/markup***REMOVED******REMOVED***
<div>// SUB-SECTION: White variations</div>
***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<div>
	<a class="btn btn-primary btn-white" href="#" role="button">Proceed to checkout</a>
	<input class="btn-primary btn-white" type="submit" value="Proceed to checkout" />
	<button class="btn-primary btn-white">Proceed to checkout</button>
</div>
<div>
	<a class="btn btn-primary btn-white btn-disabled" href="#" role="button">Proceed to checkout</a>
	<input class="btn-primary btn-white" type="submit" value="Proceed to checkout" disabled />
	<button class="btn-primary btn-white" disabled>Proceed to checkout</button>
</div>
***REMOVED******REMOVED***/markup***REMOVED******REMOVED***

<div>// SECTION: Small buttons</div>
***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<div>
	<a class="btn btn-small" href="#" role="button">Add to Wishlist</a>
	<input class="btn btn-small" type="submit" value="Add to Wishlist" />
	<button class="btn btn-small" disabled>Add to Wishlist</button>
</div>
<div>
	<a class="btn btn-small btn-disabled" href="#" role="button">Add to Wishlist</a>
	<input class="btn-small" type="submit" value="Add to Wishlist" disabled />
	<button class="btn-small" disabled>Add to Wishlist</button>
</div>
***REMOVED******REMOVED***/markup***REMOVED******REMOVED***