<h3>Primary buttons</h3>

***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn" href="#" role="button">Link</a>
<button class="btn" type="submit">Button</button>
<input class="btn" type="submit" value="Submit">
<button class="btn" disabled="">Disabled</button>
***REMOVED******REMOVED***/markup***REMOVED******REMOVED***
***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn-white" href="#" role="button">Link</a>
<button class="btn-white" type="submit">Button</button>
<input class="btn-white" type="submit" value="Submit">
<button class="btn-white" disabled="">Disabled</button>
***REMOVED******REMOVED***/markup***REMOVED******REMOVED***

<h3>Secondary buttons</h3>
***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn btn-secondary" href="#" role="button">Link</a>
<button class="btn btn-secondary" type="submit">Button</button>
<input class="btn btn-secondary" type="submit" value="Submit">
<button class="btn btn-secondary" disabled="">Disabled</button>
***REMOVED******REMOVED***/markup***REMOVED******REMOVED***