***REMOVED******REMOVED***#detail***REMOVED******REMOVED***
	All call to actions should aim for copy to be displayed on a single line
***REMOVED******REMOVED***/detail***REMOVED******REMOVED***

***REMOVED******REMOVED***#section title="Default buttons"***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Active variations"***REMOVED******REMOVED***
		<a class="btn" href="#" role="button">Add to Wishlist</a>
		<input class="btn" type="submit" value="Add to Wishlist" />
		<button class="btn">Add to Wishlist</button>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Inactive variations"***REMOVED******REMOVED***
		<a class="btn btn-disabled" href="#" role="button">Add to Wishlist</a>
		<input type="submit" value="Add to Wishlist" disabled />
		<button disabled>Add to Wishlist</button>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Small variations"***REMOVED******REMOVED***
		<a class="btn btn-small" href="#" role="button">Add to Wishlist</a>
		<input class="btn btn-small" type="submit" value="Add to Wishlist" />
		<button class="btn btn-small">Add to Wishlist</button>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
***REMOVED******REMOVED***/section***REMOVED******REMOVED***

***REMOVED******REMOVED***#section title="Primary buttons"***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Black active variations"***REMOVED******REMOVED***
		<a class="btn btn-primary" href="#" role="button">Proceed to checkout</a>
		<input class="btn-primary" type="submit" value="Proceed to checkout" />
		<button class="btn-primary">Proceed to checkout</button>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Black inactive variations"***REMOVED******REMOVED***
		<a class="btn btn-primary btn-disabled" href="#" role="button">Proceed to checkout</a>
		<input class="btn-primary" type="submit" value="Proceed to checkout" disabled />
		<button class="btn-primary" disabled>Proceed to checkout</button>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="White active variations"***REMOVED******REMOVED***
		<a class="btn btn-primary btn-white" href="#" role="button">Proceed to checkout</a>
		<input class="btn-primary btn-white" type="submit" value="Proceed to checkout" />
		<button class="btn-primary btn-white">Proceed to checkout</button>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="White inactive variations"***REMOVED******REMOVED***
		<a class="btn btn-primary btn-white btn-disabled" href="#" role="button">Proceed to checkout</a>
		<input class="btn-primary btn-white" type="submit" value="Proceed to checkout" disabled />
		<button class="btn-primary btn-white" disabled>Proceed to checkout</button>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Small active variations"***REMOVED******REMOVED***
		<a class="btn btn-primary btn-small" href="#" role="button">Proceed</a>
		<input class="btn-primary btn-small" type="submit" value="Proceed" />
		<button class="btn-primary btn-small">Proceed</button>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
***REMOVED******REMOVED***/section***REMOVED******REMOVED***

***REMOVED******REMOVED***#section title="Selectors"***REMOVED******REMOVED***
	<a class="btn btn-selector-single" href="#" role="button">Default state</a>
	<div class="grid-12 gutter-10">
		<div class="span-6">
			***REMOVED******REMOVED***#sub-section title="Single select option - Style 1"***REMOVED******REMOVED***
				***REMOVED******REMOVED***#detail***REMOVED******REMOVED***This style should be used where only one option can be selected, e.g. product size selection***REMOVED******REMOVED***/detail***REMOVED******REMOVED***
				<a class="btn btn-selector-single-1" href="#" role="button">Filter 1</a>
				<a class="btn btn-selector-single-1 btn-selector-active" href="#" role="button">Filter 2</a>
				<a class="btn btn-selector-single-1" href="#" role="button">Filter 3</a>
			***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
		</div>
		<div class="span-6">
			***REMOVED******REMOVED***#sub-section title="Single select option - Style 2"***REMOVED******REMOVED***
				***REMOVED******REMOVED***#detail***REMOVED******REMOVED***This style should be used where only one option can be selected, e.g. product size selection***REMOVED******REMOVED***/detail***REMOVED******REMOVED***
				<a class="btn btn-selector-single-2" href="#" role="button">Filter 1</a>
				<a class="btn btn-selector-single-2 btn-selector-active" href="#" role="button">Filter 2</a>
				<a class="btn btn-selector-single-2" href="#" role="button">Filter 3</a>
			***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
		</div>
	</div>
	***REMOVED******REMOVED***#sub-section title="Multi select option"***REMOVED******REMOVED***
		***REMOVED******REMOVED***#detail***REMOVED******REMOVED***This style should be used where multiple options can be selected, e.g. filters***REMOVED******REMOVED***/detail***REMOVED******REMOVED***
		<a class="btn btn-selector-multi btn-selector-active" href="#" role="button">Filter 1</a>
		<a class="btn btn-selector-multi btn-selector-active" href="#" role="button">Filter 2</a>
		<a class="btn btn-selector-multi" href="#" role="button">Filter 3</a>
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
***REMOVED******REMOVED***/section***REMOVED******REMOVED***
