{{#detail}}
	All call to actions should aim for copy to be displayed on a single line
{{/detail}}

{{#section title="Primary buttons"}}
	{{#sub-section title="Black, white and inactive variations"}}
		<div>
			<a class="btn btn-primary" href="#" role="button">Anchor</a>
			<input class="btn-primary" type="submit" value="Input Submit" />
			<button class="btn-primary">Button</button>
		</div>
		<div>
			<a class="btn btn-primary btn-white" href="#" role="button">Anchor</a>
			<input class="btn-primary btn-white" type="submit" value="Input Submit" />
			<button class="btn-primary btn-white">Button</button>
		</div>
		<div>
			<a class="btn btn-primary btn-disabled" href="#" role="button">Anchor</a>
			<input class="btn-primary" type="submit" value="Input Submit" disabled />
			<button class="btn-primary" disabled>Button</button>
		</div>
	{{/sub-section}}
{{/section}}

{{#section title="Default buttons"}}
	{{#sub-section title="Active and inactive variations"}}
		<div>
			<a class="btn" href="#" role="button">Anchor</a>
			<input type="submit" value="Input Submit" />
			<button>Button</button>
		</div>
		<div>
			<a class="btn btn-disabled" href="#" role="button">Anchor</a>
			<input type="submit" value="Input Submit" disabled />
			<button disabled>Button</button>
		</div>
	{{/sub-section}}
{{/section}}

{{#section title="Small Variations"}}
	{{#sub-section title="Primary, default and inactive buttons"}}
	<div>
		<a class="btn btn-primary btn-small" href="#" role="button">Anchor</a>
		<input class="btn-primary btn-small" type="submit" value="Input Submit" />
		<button class="btn-primary btn-small">Button</button>
	</div>
		<div>
			<a class="btn btn-small" href="#" role="button">Anchor</a>
			<input class="btn-small" type="submit" value="Input Submit" />
			<button class="btn-small">Button</button>
		</div>
		<div>
			<a class="btn btn-small btn-disabled" href="#" role="button">Anchor</a>
			<input class="btn-small" type="submit" value="Input Submit" disabled />
			<button class="btn-small" disabled>Button</button>
		</div>
	{{/sub-section}}
{{/section}}

{{#section title="Selectors"}}
	<a class="btn btn-selector-single" href="#" role="button">Default state</a>
	<div class="grid-12 gutter-10">
		<div class="span-6">
			{{#sub-section title="Single select option - Style 1"}}
				{{#detail}}This style should be used where only one option can be selected, e.g. product size selection{{/detail}}
				<a class="btn btn-selector-single-1" href="#" role="button">Filter 1</a>
				<a class="btn btn-selector-single-1 btn-selector-active" href="#" role="button">Filter 2</a>
				<a class="btn btn-selector-single-1" href="#" role="button">Filter 3</a>
			{{/sub-section}}
		</div>
		<div class="span-6">
			{{#sub-section title="Single select option - Style 2"}}
				{{#detail}}This style should be used where only one option can be selected, e.g. product size selection{{/detail}}
				<a class="btn btn-selector-single-2" href="#" role="button">Filter 1</a>
				<a class="btn btn-selector-single-2 btn-selector-active" href="#" role="button">Filter 2</a>
				<a class="btn btn-selector-single-2" href="#" role="button">Filter 3</a>
			{{/sub-section}}
		</div>
	</div>
	{{#sub-section title="Multi select option"}}
		{{#detail}}This style should be used where multiple options can be selected, e.g. filters{{/detail}}
		<a class="btn btn-selector-multi btn-selector-active" href="#" role="button">Filter 1</a>
		<a class="btn btn-selector-multi btn-selector-active" href="#" role="button">Filter 2</a>
		<a class="btn btn-selector-multi" href="#" role="button">Filter 3</a>
	{{/sub-section}}
{{/section}}
