***REMOVED******REMOVED***#section title="Default buttons"***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Active variations"***REMOVED******REMOVED***
		***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn" href="#" role="button">Add to Wishlist</a>
<input class="btn" type="submit" value="Add to Wishlist" />
<button class="btn">Add to Wishlist</button>
		***REMOVED******REMOVED***/markup***REMOVED******REMOVED***
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Inactive variations"***REMOVED******REMOVED***
		***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn btn-disabled" href="#" role="button">Add to Wishlist</a>
<input type="submit" value="Add to Wishlist" disabled />
<button disabled>Add to Wishlist</button>
		***REMOVED******REMOVED***/markup***REMOVED******REMOVED***
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Small variations"***REMOVED******REMOVED***
		***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn btn-small" href="#" role="button">Add to Wishlist</a>
<input class="btn btn-small" type="submit" value="Add to Wishlist" />
<button class="btn btn-small">Add to Wishlist</button>
		***REMOVED******REMOVED***/markup***REMOVED******REMOVED***
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
***REMOVED******REMOVED***/section***REMOVED******REMOVED***

***REMOVED******REMOVED***#section title="Primary buttons"***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Black active variations"***REMOVED******REMOVED***
		***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn btn-primary" href="#" role="button">Proceed to checkout</a>
<input class="btn-primary" type="submit" value="Proceed to checkout" />
<button class="btn-primary">Proceed to checkout</button>
		***REMOVED******REMOVED***/markup***REMOVED******REMOVED***
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="Black inactive variations"***REMOVED******REMOVED***
		***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn btn-primary btn-disabled" href="#" role="button">Proceed to checkout</a>
<input class="btn-primary" type="submit" value="Proceed to checkout" disabled />
<button class="btn-primary" disabled>Proceed to checkout</button>
		***REMOVED******REMOVED***/markup***REMOVED******REMOVED***
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="White active variations"***REMOVED******REMOVED***
		***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn btn-primary btn-white" href="#" role="button">Proceed to checkout</a>
<input class="btn-primary btn-white" type="submit" value="Proceed to checkout" />
<button class="btn-primary btn-white">Proceed to checkout</button>
		***REMOVED******REMOVED***/markup***REMOVED******REMOVED***
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
	***REMOVED******REMOVED***#sub-section title="White inactive variations"***REMOVED******REMOVED***
		***REMOVED******REMOVED***#markup***REMOVED******REMOVED***
<a class="btn btn-primary btn-white btn-disabled" href="#" role="button">Proceed to checkout</a>
<input class="btn-primary btn-white" type="submit" value="Proceed to checkout" disabled />
<button class="btn-primary btn-white" disabled>Proceed to checkout</button>
		***REMOVED******REMOVED***/markup***REMOVED******REMOVED***
	***REMOVED******REMOVED***/sub-section***REMOVED******REMOVED***
***REMOVED******REMOVED***/section***REMOVED******REMOVED***