$black: #000000;
$white: #FFF;
$grey: #E6E6E6;
$dark-grey: #B7B7B7;

@mixin button-dimensions($height) ***REMOVED***
	line-height: $height;
	padding: 9px 25px;
	display: inline-block;
	box-sizing: border-box;
***REMOVED***

.btn, .btn-white ***REMOVED***
	@include button-dimensions(40px);
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	border: none;
	letter-spacing: 1.3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	font-family: "Futura T W01 Medium", Arial, sans-serif;
	font-size:15px;
	&[disabled] ***REMOVED***
		border: none;
		color: $dark-grey;
		background-color: $grey;
		&:hover, &:active ***REMOVED***
			color: $dark-grey;
			background-color: $grey;
		***REMOVED***
	***REMOVED***
***REMOVED***

.btn ***REMOVED***
	color: $white;
	background-color: $black;
	&:hover ***REMOVED***
		background-color: #2A2626;
	***REMOVED***
	&:active ***REMOVED***
		background-color: $black;
	***REMOVED***
***REMOVED***

.btn-secondary ***REMOVED***
	color: $black;
	background-color: $grey;
	&:hover ***REMOVED***
		background-color: $dark-grey;
	***REMOVED***
	&:active ***REMOVED***
		background-color: $grey;
	***REMOVED***
***REMOVED***

.btn-white ***REMOVED***
	border: 1px solid $black;
	color: $black;
	background-color: $white;
	&:hover ***REMOVED***
		color: $white;
		background-color: $black;
	***REMOVED***
	&:active ***REMOVED***
		color: $black;
		background-color: $white;
	***REMOVED***
***REMOVED***