$black: #000000;
$white: #FFF;
$grey: #E6E6E6;
$dark-grey: #B7B7B7;

@mixin button-dimensions($height) {
	line-height: $height;
	padding: 9px 25px;
	display: inline-block;
	box-sizing: border-box;
}

.btn, .btn-white {
	@include button-dimensions(40px);
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	border: none;
	letter-spacing: 1.3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	font-family: "Futura T W01 Medium", Arial, sans-serif;
	font-size:15px;
	&[disabled] {
		border: none;
		color: $dark-grey;
		background-color: $grey;
		&:hover, &:active {
			color: $dark-grey;
			background-color: $grey;
		}
	}
}

.btn {
	color: $white;
	background-color: $black;
	&:hover {
		background-color: #2A2626;
	}
	&:active {
		background-color: $black;
	}
}

.btn-secondary {
	color: $black;
	background-color: $grey;
	&:hover {
		background-color: $dark-grey;
	}
	&:active {
		background-color: $grey;
	}
}

.btn-white {
	border: 1px solid $black;
	color: $black;
	background-color: $white;
	&:hover {
		color: $white;
		background-color: $black;
	}
	&:active {
		color: $black;
		background-color: $white;
	}
}