@import '../mixins/colours';

button,
input[type=submit],
.btn ***REMOVED***
	background: $greySelected;
	border: none;
	color: $black;
	cursor: pointer;
	display: inline-block;
	font-family: FuturaBook;
	font-size: 15px;
	letter-spacing: 1.3px;
	line-height: 1.2em;
	margin-bottom: 5px;
	margin-top: 5px;
	max-width: 300px;
	padding: 11px 20px 8px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: initial;
	&:hover ***REMOVED***
		background: #b7b7b7;
		color: #000;
	***REMOVED***
	&.btn-small ***REMOVED***
		font-size: 13px;
		max-width: 150px;
		padding: 8px 15px 7px;
	***REMOVED***
	&.btn-primary ***REMOVED***
		background: #000;
		color: #fff;
		&:hover ***REMOVED***
			background: #2a2626;
		***REMOVED***
	***REMOVED***
	&.btn-selector-multi,
	&.btn-selector-single-1,
	&.btn-selector-single-2 ***REMOVED***
		@extend .btn-small;
		background: #fff;
		border: #d3d3d3 1px solid;
		max-width: inherit;
		text-transform: none;
	***REMOVED***
	&.btn-selector-single-1:hover,
	&.btn-selector-single-2:hover ***REMOVED***
		background: $greySelected;
	***REMOVED***
	&.btn-selector-active ***REMOVED***
		&.btn-selector-multi ***REMOVED***
			border: 2px solid #b7b7b7;
		***REMOVED***
		&.btn-selector-single-1 ***REMOVED***
			background: #000;
			border-color: #000;
			color: #fff;
		***REMOVED***
		&.btn-selector-single-2 ***REMOVED***
			background: $greySelected;
			color: #000;
		***REMOVED***
	***REMOVED***
	&.btn-selector-multi:hover ***REMOVED***
		@extend .btn-selector-active.btn-selector-multi;
	***REMOVED***
	&.btn-white ***REMOVED***
		background: #fff;
		color: #000;
		outline: #000 1px solid;
		&:hover ***REMOVED***
			background: #000;
			color: #fff;
		***REMOVED***
	***REMOVED***
	&[disabled],
	&[disabled]:hover,
	&.btn-disabled,
	&.btn-disabled:hover ***REMOVED***
		background: $greySelected;
		color: #b7b7b7;
		cursor: default;
		outline: none;
	***REMOVED***
***REMOVED***
