@import '../mixins/base';
@import 'mixins';

%icon {
  content: "";
  display: block;
  background-image: url("/images/icons.png");
  background-image: none, url("/images/icons.svg");
  background-repeat: no-repeat;
  @include _square(map_get($spriteDimensions, "iconDimension"));
  margin: -1px 0 0 0;
  background-size: 110%;
}

@each $colour in $iconColours {
  @include create_icons($colour) {
    @extend %icon;
  };
}

@include viewport(mobile) {
  @each $colour in $iconColours {
    @include create_icons($colour) {
      margin-top: -1px;
      @include _square(14px);
    }
  }
}
