@import '../mixins/base';
@import 'mixins';

%icon ***REMOVED***
  content: "";
  display: block;
  background-image: url("/images/icons.png");
  background-image: none, url("/images/icons.svg");
  background-repeat: no-repeat;
  @include _square(map_get($spriteDimensions, "iconDimension"));
  margin: -1px 0 0 0;
  background-size: 110%;
***REMOVED***

@each $colour in $iconColours ***REMOVED***
  @include create_icons($colour) ***REMOVED***
    @extend %icon;
***REMOVED***;
***REMOVED***

@include viewport(mobile) ***REMOVED***
  @each $colour in $iconColours ***REMOVED***
    @include create_icons($colour) ***REMOVED***
      margin-top: -1px;
      @include _square(14px);
***REMOVED***
***REMOVED***
***REMOVED***
