***REMOVED******REMOVED***#detail***REMOVED******REMOVED***
  Alerts used such as
  <em>Back in stock</em>,
  <em>Low stock</em> and
  <em>Only 1 left!</em>
***REMOVED******REMOVED***/detail***REMOVED******REMOVED***

<div class="alert">
  Back in stock
</div>
