body {
	margin: 0;
	padding: 0;
}
.preston-container {
	max-width: 1200px;
	margin: 0 auto;
}
.preston-heading,
.preston-home {
	font-family: Garamond, serif;
	letter-spacing: 0.1em;
	font-variant: small-caps;
}
.preston-heading {
	background: #fff;
	border-bottom: #ccc 1px solid;
	margin-bottom: 20px;
	box-shadow: #ccc 0 10px 10px -10px;
	color: #333;
	padding: 10px;
	.preston-nav {
		float: right;
		> div {
			margin-left: 5px;
		}
	}
	.preston-title {
		font-size: 14pt;
		&:first-letter{
			text-transform: uppercase;
		}
	}
}
.preston-home {
	padding: 20px;
	margin-top: 200px;
	.preston-nav-item {
		font-size: 48px;
	}	
}
.preston-p {
	margin-bottom: 10px;
}
.preston-nav-item {
	color: #000;
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-decoration: none;
	&:after {
		transition: all 0.1s ease-out;
		position: absolute;
		content: '';
		background: #000;
		height: 1px;
		width: 100%;
		bottom: -5px;
		left: 0;
		opacity: 0;
	}
	&.active:after,
	&:hover:after {
		opacity: 1;
		bottom: 0;
	}
}