body {
	margin: 0;
	padding: 0;
}

.preston-heading {
	background: #fff;
	border-bottom: #ccc 1px solid;
	margin-bottom: 20px;
	box-shadow: #ccc 0 10px 10px -10px;
	color: #333;
	padding: 10px;
	font-family: Garamond, serif;
	letter-spacing: 0.1em;
	font-variant: small-caps;
	.preston-title {
		font-size: 14pt;
		&:first-letter{
			text-transform: uppercase;
		}
	}
	.preston-nav {
		float: right;
		> a {
			display: inline-block;
			padding: 2px 5px;
		}
	}
}
.preston-container {
	max-width: 1200px;
	margin: 0 auto;
}