body {
	margin: 0;
	padding: 0;
}
.preston-header {
	border-bottom: #ccc 1px solid;
	box-shadow: #ccc 0 0 10px;
	font-family: Garamond;
	font-size: 14pt;
	font-variant: small-caps;
	letter-spacing:0.1em;
	line-height: 145%;
	padding: 5px 10px;
	text-transform: lowercase;
}
.preston-nav {
	float: right;
	> div {
		display: inline-block;
		padding: 1px 3px;
	}
}