<!DOCTYPE html>
<html>
<head>
	<title>Preston</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="preston-heading">
		<div class="preston-title">Preston</div>
	</div>
	<div class="preston-body">
		{{{@body}}}
	</div>
</body>
</html>