<!DOCTYPE html>
<html ng-app="app">
<head ng-controller="HeadCtrl">
	<title>Preston</title>
	<link rel="stylesheet" ng-repeat="element in style.elements" ng-href=":: element.getCssPath() ::">
</head>
<body>
	<div ng-controller="NavCtrl" class="preston-header">
		<div class="preston-nav">
			<div ng-repeat="style in styles" ng-bind="style.title" ui-sref="guide({ name: style.name })"></div>
		</div>
		<div class="preston-nav-item" ui-sref="home">Preston</div>
	</div>
	<div class="preston-container" ui-view></div>
	<script src="/js/angular.js"></script>
	<script src="/js/angular-router.js"></script>
	<script src="/js/angular-sanitize.js"></script>
	<script>
	angular
		.module('app', ['ngSanitize', 'ui.router'])
		.config(function($interpolateProvider, $stateProvider, $urlRouterProvider) {
			// stop conflicting with handlebars
			$interpolateProvider.startSymbol('::');
			$interpolateProvider.endSymbol('::');

			$urlRouterProvider.otherwise('/');
			$stateProvider
				.state('home', {
					url: '/',
					templateUrl: '/tmpl/home.html'
				})
				.state('guide', {
					url: '/style/:name',
					template: '<iframe ng-controller="GuideCtrl" ng-src="/tmpl/guide.html" class="preston-frame"></iframe>'
				});
		})
		.service('MessageService', function() {
			function display(type, message) {
				alert(message);
			}
			return {
				error: function(message) {
					display('error', message);
				}
			};
		})
		.service('ApiService', function($http, MessageService) {
			return function(version, controller) {
				var versionParsed = parseFloat(version).toFixed(1);
				var baseUrl = '/api/' + versionParsed + '/' + controller;

				return {
					get: function(path) {
						return $http
							.get(baseUrl + (path || ''))
							.error(function(data) {
								MessageService.error(data.message || 'An error occured');
							});
					}
				}
			}
		})
		.factory('StylesFactory', function(ApiService) {
			var api = new ApiService(1.0, 'styles');

			// TODO: cache responses as some are
			// used in multiple controller instances
			return {
				get: function(name) {
					return api.get('/' + name).then(function(result) {
						return result.data;
					});
				},
				getAll: function() {
					return api.get().then(function(result) {
						return result.data;
					});
				},
				getElement: function(style, element) {
					return api.get('/' + style + '/' + element).then(function(result) {
						return result.data;
					});
				}
			};
		})
		.service('StyleElement', function(StylesFactory) {
			var StyleElement = function(style, name) {
				this.style = style;
				this.name = name;
				this.assets = {};
			};
			StyleElement.prototype = {
				getCssPath: function() {
					return '/css/' + this.style + '/' + this.name + '/style.css'
				},
				fetch: function() {
					var self = this;
					return StylesFactory
						.getElement(this.style, this.name)
						.then(function(data) {
							self.assets = data.assets;
							return data;
						});
				}
			};
			return StyleElement;
		})
		.service('Style', function($rootScope, StylesFactory, StyleElement) {
			var Style = function(style, options) {
				this.title = '';
				this.name = style;
				this.elements = [];
				this.options = angular.extend({
					shallow: false
				}, options);
				this.fetch();
				return this;
			};
			Style.prototype = {
				fetch: function() {
					var self = this;
					return StylesFactory
						.get(this.name)
						.then(function(data) {
							self.title = data.title;
							self.populateElements(data.elements)
								.then(function() {
									// pub/sub baby
									$rootScope.$broadcast('style.load', self);
								});
							return data;
						});
				},
				populateElements: function(elements) {
					var self = this;
					return Promise.all(
						elements.map(function(name) {
							return new Promise(function(resolve, reject) {
								var element = new StyleElement(self.name, name);

								// don't load style elements
								if (self.options.shallow) {
									resolve(element);
								} else {
									// wait for element to load before resolving
									element.fetch().then(function() {
										resolve(element);
									}, reject);
								}
							});
						})
					).then(function(elements) {
						self.elements = elements;
					});
				}
			};
			return Style;
		})
		.controller('NavCtrl', function($scope, StylesFactory) {
			StylesFactory
				.getAll()
				.then(function(data) {
					$scope.styles = data;
				});
		})
		.controller('HeadCtrl', function($scope, Style) {

			// load default style
			$scope.style = new Style('preston', { shallow: true });

		}).controller('GuideCtrl', function($scope, $state, Style) {
			$scope.Style = Style;
			$scope.$state = $state;
		});
	</script>
</body>
</html>