<!DOCTYPE html>
<html ng-app="app">
<head ng-controller="HeadCtrl">
	<title>Preston</title>
	<link rel="stylesheet" ng-repeat="element in preston.elements" ng-href=":: element.getCssPath() ::">
</head>
<body>
	<div ng-controller="NavCtrl" class="preston-header">
		<div class="preston-nav">
			<div ng-repeat="style in styles" ng-bind="style.title" ui-sref="guide(***REMOVED*** name: style.name ***REMOVED***)"></div>
		</div>
		<div class="preston-nav-item" ui-sref="home">Preston</div>
	</div>
	<div class="preston-container" ui-view></div>
	<script src="/js/angular.js"></script>
	<script src="/js/angular-router.js"></script>
	<script src="/js/angular-sanitize.js"></script>
	<script>
	angular
		.module('app', ['ngSanitize', 'ui.router'])
		.config(function($interpolateProvider, $stateProvider, $urlRouterProvider) ***REMOVED***
			// stop conflicting with handlebars
			$interpolateProvider.startSymbol('::');
			$interpolateProvider.endSymbol('::');

			$urlRouterProvider.otherwise('/');
			$stateProvider
				.state('home', ***REMOVED***
					url: '/',
					templateUrl: '/tmpl/home.html'
				***REMOVED***)
				.state('guide', ***REMOVED***
					url: '/style/:name',
					templateUrl: '/tmpl/guide.html'
				***REMOVED***);
		***REMOVED***)
		.service('MessageService', function() ***REMOVED***
			function display(type, message) ***REMOVED***
				alert(message);
			***REMOVED***
			return ***REMOVED***
				error: function(message) ***REMOVED***
					display('error', message);
				***REMOVED***
			***REMOVED***;
		***REMOVED***)
		.service('ApiService', function($http, MessageService) ***REMOVED***
			return function(version, controller) ***REMOVED***
				var versionParsed = parseFloat(version).toFixed(1);
				var baseUrl = '/api/' + versionParsed + '/' + controller;

				return ***REMOVED***
					get: function(path) ***REMOVED***
						return $http
							.get(baseUrl + (path || ''))
							.error(function(data) ***REMOVED***
								MessageService.error(data.message || 'An error occured');
							***REMOVED***);
					***REMOVED***
				***REMOVED***
			***REMOVED***
		***REMOVED***)
		.factory('StylesFactory', function(ApiService) ***REMOVED***
			var api = new ApiService(1.0, 'styles');

			// TODO: cache responses as some are
			// used in multiple controller instances
			return ***REMOVED***
				get: function(name) ***REMOVED***
					return api.get('/' + name).then(function(result) ***REMOVED***
						return result.data;
					***REMOVED***);
				***REMOVED***,
				getAll: function() ***REMOVED***
					return api.get().then(function(result) ***REMOVED***
						return result.data;
					***REMOVED***);
				***REMOVED***,
				getElement: function(style, element) ***REMOVED***
					return api.get('/' + style + '/' + element).then(function(result) ***REMOVED***
						return result.data;
					***REMOVED***);
				***REMOVED***
			***REMOVED***;
		***REMOVED***)
		.service('StyleElement', function(StylesFactory) ***REMOVED***
			var StyleElement = function(style, name) ***REMOVED***
				this.style = style;
				this.name = name;
			***REMOVED***;
			StyleElement.prototype = ***REMOVED***
				getCssPath: function() ***REMOVED***
					return '/css/' + this.style + '/' + this.name + '/style.css'
				***REMOVED***,
				fetch: function() ***REMOVED***
					var self = this;
					StylesFactory
						.getElement(this.style, this.name);
				***REMOVED***
			***REMOVED***;
			return StyleElement;
		***REMOVED***)
		.service('Style', function(StylesFactory, StyleElement) ***REMOVED***
			var Style = function(style, options) ***REMOVED***
				this.name = style;
				this.elements = [];
				this.options = angular.extend(***REMOVED***
					shallow: false
				***REMOVED***, options);
				this.fetch();
			***REMOVED***;
			Style.prototype = ***REMOVED***
				fetch: function() ***REMOVED***
					var self = this;
					StylesFactory
						.get(this.name)
						.then(function(data) ***REMOVED***
							self.populateElements(data.elements);
						***REMOVED***);
				***REMOVED***,
				populateElements: function(elements) ***REMOVED***
					var self = this;
					this.elements = elements.map(function(name) ***REMOVED***
						var element = new StyleElement(self.name, name);

						// only fetch element if shallow option false
						if (!self.options.shallow) element.fetch();
						return element;
					***REMOVED***);
				***REMOVED***
			***REMOVED***;
			return Style;
		***REMOVED***)
		.controller('ContentCtrl', function($scope, $sce) ***REMOVED***
			$scope.url = $sce.trustAsResourceUrl('/tmpl/home.html');
		***REMOVED***)
		.controller('NavCtrl', function($scope, StylesFactory) ***REMOVED***
			StylesFactory
				.getAll()
				.then(function(data) ***REMOVED***
					$scope.styles = data;
				***REMOVED***);
		***REMOVED***)
		.controller('HeadCtrl', function($scope, Style) ***REMOVED***
			$scope.preston = new Style('preston');
		***REMOVED***);
	</script>
</body>
</html>