<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Preston</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/outnet-2015/typography/style.css">
</head>
<body>
	<div class="preston-heading" ng-controller="NavCtrl">
		<div class="preston-container">
			<div class="preston-nav">
				<div class="preston-nav-item"
					ng-repeat="style in nav"
					ui-sref="guide({ name: style.name })"
					ui-sref-active="active">:: style.title ::</div>
			</div>
			<div class="preston-title preston-nav-item" ui-sref="home">Preston</div>
		</div>
	</div>
	<div class="preston-container" ui-view>
		{{{@body}}}
	</div>
	<script src="/js/angular.js"></script>
	<script src="/js/angular-router.js"></script>
	<script>
	angular
		.module('app', ['ui.router'])
		.config(function($interpolateProvider, $stateProvider, $urlRouterProvider) {
			// stop conflicting with handlebars
			$interpolateProvider.startSymbol('::');
			$interpolateProvider.endSymbol('::');

			// routing
			$urlRouterProvider.otherwise('/');
			$stateProvider
				.state('home', {
					url: '/',
					templateUrl: 'templates/home.html'
				})
				.state('guide', {
					url: '/style/:name',
					templateUrl: 'templates/guide.html'
				});
		})
		.service('MessageService', function() {
			function display(type, message) {
				alert(message);
			}
			return {
				error: function(message) {
					display('error', message);
				}
			};
		})
		.service('ApiService', function($http, MessageService) {
			return function(version, controller) {
				var versionParsed = parseFloat(version).toFixed(1);
				var baseUrl = '/api/' + versionParsed + '/' + controller;

				return {
					get: function() {
						return $http
							.get(baseUrl)
							.error(function(data) {
								MessageService.error(data.message || 'An error occured');
							});
					}
				}
			}
		})
		.service('StylesService', function(ApiService) {
			var api = new ApiService(1.0, 'styles');
			return {
				getAll: function() {
					return api.get().then(function(result) {
						return result.data;
					});
				}
			};
		})
		.controller('NavCtrl', function($scope, StylesService) {
			StylesService
				.getAll()
				.then(function(result) {
					$scope.nav = result;
				});
		});
	</script>
</body>
</html>